<p><%= task_item.content %>
<%= link_to "Update",
    task_list_task_item_path(@task_list, task_item.id), method: :update, data:
    { confirm: "Are you sure?" }
%>
<%= link_to "Delete",
    task_list_task_item_path(@task_list, task_item.id), method: :delete, data:
    { confirm: "Are you sure?" }
%>
</p>