<p>
  <strong>Title:</strong>
  <%= @task_item.content %>
</p>

<div id="task_items_wrapper">
 <%= render @task_item %>
</div>
<%= link_to 'Edit', edit_task_list_task_item_path(@task_list, @task_item), method: :get %> |
<%= link_to 'Back', :back %>